@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

nav ul li a.active {
  color: #000;
}
nav ul li a.active > span {
  font-weight: 900;
}

nav ul li a.active > svg {
  stroke: #000;
}

::-webkit-scrollbar {
  display: none;
}

#links li a.active{
  transition: all .3s ease;
  border-bottom: 4px solid red;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-bottom: 15px;
  z-index: 50;
  font-weight: 700;
}